{% extends 'site/base.html.twig' %}

{% block main %}
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="hero-content">
            <h1>Welcome to Oxymore Esports</h1>
            <p>Your hub for the latest in competitive gaming.</p>
            <a href="#" class="btn btn-primary">Join the Team</a>
        </div>
    </div>



{% endblock %}
